/* Styling for Base HTML file */
/* !important tag is needed on entries in order to override certain Bootstrap styling */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

.dashboard {
    border-style: solid;
    border-width: 10px;
    border-top-width: 10px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    border-color: #DDDDDD;
}